@import "../../../styles/mixins";

.test-design {
  display: flex;
  width: 100%;
}

.test-design-dashboard {
  display: flex;
  flex-direction: column;
  width: 40% ;
  max-height: 100%;
  height: calc(100vh - 100px);
  background-color: #fff;
  border-right: $panel-border;

  &__body {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }
}

.test-design-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 52px;
  padding-right: 12px;
  border-bottom: $panel-border;

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.test-question-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  height: calc(100vh - 200px);

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 0;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 12px 18px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    padding: 10px 12px 12px 32px;
    border-bottom: $panel-border;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2px;
  }

  &__loader {
    margin: auto;
  }
}

.test-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-height: 100%;
  height: calc(100vh - 200px);
  padding: 24px;
  font-size: 18px;
  font-weight: 600;
}

.test-question-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: calc(100vh - 136px);
  width: 60%;
  margin: 18px;
  padding: 24px;
  gap: 10px;
  background-color: #fff;

  &__main {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  &__section {
    display: flex;
    flex-direction: column;

    &--left {
      width: 60%;
      gap: 25px;
    }

    &--right {
      width: 40%;
      gap: 15px;
    }
  }

  &__image {
    @include image-container();
  }
}

.test-answer-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: $panel-border;
    font-size: 18px;
    font-weight: 600;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 12px;
    width: 100%;
  }
}