@mixin small {
  width: 25px !important;
  height: 25px !important;
}

@mixin medium {
  width: 50px !important;
  height: 50px !important;
}

@mixin large {
  width: 75px !important;
  height: 75px !important;
}

@mixin extra-large {
  width: 100px !important;
  height: 100px !important;
}

.completion-result {
  display: flex;
  align-items: stretch;
  gap: 12px;

  &__front {
    &--small {
      @include small;
    }

    &--medium {
      @include medium;
    }

    &--large {
      @include large;
    }

    &--extra-large {
      @include extra-large;
    }
  }

  &__back {
    position: absolute;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.2);

    &--small {
      @include small;
      border: 2px solid rgba(0, 0, 0, 0.2);
    }

    &--medium {
      @include medium;
    }

    &--large {
      @include large;
      border: 6px solid rgba(0, 0, 0, 0.2);
    }

    &--extra-large {
      @include extra-large;
      border: 8px solid rgba(0, 0, 0, 0.2);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    font-size: 18px;
  }

  &__result {
    font-weight: 700;
    font-size: 32px;
  }
}