.algorithms-page {
  display: flex;
  padding: 18px;
  width: 100%;

  &__loader {
    margin: 100px auto auto;
  }
}

.algorithms-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.algorithm-card {
  max-width: 350px;
  margin-bottom: 25px;

  &__body {
    border-top: 1px solid rgba(0, 0, 0, .125);
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

.algorithm-description {
  padding: 36px;
}

.description-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.description-table {
  margin-bottom: 25px;
}

.description-title {
  margin: 30px 0;
}

.description-section-title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}

.description-image {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 5px;
}

.description-image-container {
  margin-bottom: 35px;
}

.description-paragraph {
  line-height: 1.5;
}