@import "../../../styles/variables";

.test-list-container {
  width: 100%;
  padding: 18px;
  height: calc(100vh - 100px);
}

.test-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 18px 18px;

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-bottom: $panel-border;
  }

  &__loader {
    margin: auto;
  }
}

.test-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px;
  border-bottom: $panel-border;
  gap: 32px;

  &__title {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 8px;
    width: 25%;
  }

  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    width: 25%;
  }

  &__result {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 24px;
    width: 25%;
  }

  &__image {
    width: 25%;
    border: $panel-border;
    border-radius: 4px;
  }
}

.test-form {
  &__control {
    width: 100%;
    margin-bottom: 30px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

