.MuiSelect-select:focus {
  background-color: transparent !important;
}

.MuiFormHelperText-root {
  position: absolute;
  top: 100%;
  margin-top: 0 !important;
}

.MuiListItemText-primary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}