.MuiSelect-select:focus {
  background-color: transparent !important;
}

.MuiFormHelperText-root {
  position: absolute;
  top: 100%;
  margin-top: 0 !important;
}

.MuiListItemText-primary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.MuiListItem-container {
  list-style-type: none;
}

.MuiFormControlLabel-root, label {
  margin: 0 !important;
}

.MuiDataGrid-cell, .MuiDataGrid-colCell, .MuiDataGrid-columnHeader {
  outline: none !important;
}

.MuiDataGrid-colCellTitle {
  font-weight: 600 !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiTablePagination-root {
  overflow: unset !important;
  box-shadow: 0 -2px 3px -1px rgba(224, 224, 224, 1);

  p {
    margin-bottom: 0 !important;
  }
}

.MuiTableSortLabel-root {
  font-weight: 700 !important;
  margin-right: 4px;
}

.MuiTableCell-alignCenter {
  //padding-left: 34px !important;
}

.MuiTab-root {
  font-family: inherit !important;
}

.MuiTypography-root {
  font-family: inherit !important;
}