.test-pass {
  width: 100%;
  padding: 18px;
  min-height: calc(100vh - 148px);
  font-size: 18px !important;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 36px 48px;
    height: 100%;
  }

  &__loader {
    margin: auto;
  }

  &__divider {
    margin: 24px 0 !important;
  }

  &__header {
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    object-fit: contain;
    width: auto;
    max-height: 300px;
  }
}

.test-pass-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}