.algorithm-description-container {
  padding: 18px;
  width: 100%;
}

.algorithm-description {
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.description-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.description-table {
  margin-bottom: 25px;
}

.description-title {
  margin: 30px 0;
}

.description-section-title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}

.description-image {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 5px;
}

.description-image-container {
  margin-bottom: 35px;
}

.description-paragraph {
  line-height: 1.5;
}