.test-component {
  display: flex;
  flex-wrap: wrap;

  &__item {
    text-align: center;
    width: 100%;
    color: white;
    background-color: red;
    padding: 10px;
    cursor: pointer;

    &--green {
      background-color: green;
    }
  }
}