@import "../../styles/_variables";

.tests-page {
  display: flex;
  width: 100%;

  &__loader {
    margin: auto;
  }
}

.tests-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 100%;
  height: calc(100vh - 100px);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-top: $panel-border;
    border-bottom: $panel-border;
    font-size: 20px;
    font-weight: 600;
  }
}

.test-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  border-top: $panel-border;
  border-right: $panel-border;
}

.test-list-item {
  width: 100%;
  padding-left: 15px;
  border-bottom: $panel-border !important;

  &:last-child {
    padding-left: 10px;
    border-left: 5px solid #1976d2 !important;
    margin-bottom: 50px;
  }

  &__secondary {
    visibility: hidden;

    &--hovered {
      visibility: visible;
    }
  }

  &__secondary-menu {
    padding: 5px 0;
  }
}

.test-form {
  &__control {
    width: 100%;
    margin-bottom: 30px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}