.home {
  padding: 18px;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px 50px 100px;
  height: 100%;
  width: 100%;
}

.home-carousel {
  margin: 30px auto;
  width: 80%;

  &__item {
    cursor: pointer;
  }

  &__img {
    border-radius: 0.25rem;
    filter: brightness(50%);
    width: 100%;
  }

  &__caption {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
  }
}

.home-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

@media (max-width: 1200px) {
  .home-carousel {
    &__caption {
      top: 60%;
    }
  }
}

@media (max-width: 950px) {
  .home-carousel {
    &__caption {
      display: none;
    }
  }
}