.home {
  padding: 18px;
  height: 100%;
}

.home-container {
  padding: 50px 100px 50px 100px;
  height: 100%;
}

.home-carousel {
  margin-bottom: 50px;
  border-radius: 0.25rem;

  &__link {
    cursor: pointer;
  }

  &__img {
    border-radius: 0.25rem;
    filter: brightness(50%);
    width: 100%;
  }

  li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }
}

.home-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

@media (max-width: 768px) {
  .home-carousel {
    &__caption {
      display: none;
    }
  }
}