.modal-common {
  &__content {
    padding: 32px 24px !important;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 24px !important;
  }
}