.sidebar {
  height: 100%;
  display: flex;
  border-top: 0.071rem solid rgba(18, 24, 33, 0.12);
  border-right: 0.071rem solid rgba(18, 24, 33, 0.12);

  &__items {
    margin-top: 5px;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__divider {
    margin: 5px;
    width: 80%;
    height: 1px;
    background: rgba(18, 24, 33, 0.12);
  }
}