.algorithm-grid-container {
  padding: 18px;
  width: 100%;
}

.algorithm-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 18px;
  justify-content: space-between;
  align-items: flex-start;
}

.algorithm-card {
  max-width: 350px;

  &__header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  &__body {
    outline: none !important;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    padding: 12px !important;
    gap: 15px;
  }

  &__button {
    width: 150px;
  }
}