@import "../../../styles/variables";

.test-result-container {
  width: 100%;
  padding: 18px;
  min-height: calc(100vh - 148px);
}

.test-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 18px;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      font-weight: 600;
    }

    td {
      padding-bottom: 8px;
    }
  }

  &__divider {
    padding: 16px 0 0 !important;
  }

  &__user-answers {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.test-result-user-answer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  gap: 24px;
  border-bottom: $panel-border;

  &__title {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__header {
    width: 100%;

    span {
      font-weight: 600;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__question {
    width: 100%;
    line-height: 1.5rem;

    span {
      font-weight: 600;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  &__image {
    width: 100%;
    border-radius: 4px;
  }

  &__answer-list-container {
    display: flex;
    flex-grow: 1;
  }

  &__answer-list {
    width: 50%;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    margin: 12px -12px;
  }
}